.container {
  border: 1px #d3d3d3 solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 25vh;
}

.header {
  flex-direction: row;
}

.buttons {
  margin: 10px;
}
